{% extends "base.html" %}

{% load static%}
{% block title %}
Blog posts
{% endblock %}

{% block content %}
{{ block.super }}
<section class="content">
  <div class="container">
		<div class="row">
			<div class="post-content post-modern col-md-9">
				<div class="post-content post-classic post-content-single">
					<div class="post-item">
						<div class="post-image">
							<img alt="" src="{% static 'blog/images/1.jpg' %}">
						</div>
						<div class="post-content-details">
							<div class="post-title">
								<h2>{{ post.title }}</h2>
							</div>
							<div class="post-info">
								<span class="post-autor">Post by:
								{% for author in post.authors.all %}
									{{ author }}, 
								{% endfor %}
								</span>
							</div>
							<div class="post-description">
								<p>{{ post.content }}</p>
							</div>
						</div>
						<div class="post-meta">
	            <div class="post-date">{{ post.created_date|date:"N d Y" }}</div>

	            <div class="post-comments">
	              <a href="#">
	                <i class="fa fa-comments-o"></i>
	                <span class="post-comments-number">{{ comments_count }}</span>
	              </a>
	            </div>
	          </div>
					</div>
				</div>

				<div id="comments" class="comments">
		      <div class="heading">
		        <h4 class="comments-title">Comments <small class="number">({{ comments_count }})</small></h4>
		      </div>

		      {% for comment in comments %}
		     	<div class="comment">
		        <a class="pull-left">
		            <img src="{% static 'blog/images/2.jpg' %}" class="avatar">
		        </a>
		        <div class="media-body">
		            <h4 class="media-heading">{{ comment.author_email }}</h4>
		            <p class="time">{{ comment.created_date }}</p>
		            <p>{{ comment.content }}</p>
		        </div>
		    	</div>
		    	{% endfor %}
		    </div>
		   	<div class="comment-form">
		      <div class="heading"><h4>Leave a comment</h4></div>
		      <form class="form-gray-fields" action="" method="POST">
		      	{% csrf_token %}
		      	{% for field in form.fields %}
		      		<div class="form-group">
		      			<label for="id_{{ field }}" class="upper">{{ field }}:</label>
		      			<input id="id_{{ field }}" type="" name="{{ field }}" class="form-control required">
		      		</div>
		      	{% endfor %}
		      	<div class="form-group text-center">
		          <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp;Post comment</button>
		      	</div>
		     	</form>
		    </div>
		  </div>
		  <div class="sidebar col-md-3">
				<div class="widget clearfix widget-tags">
			    <h4 class="widget-title">Tags</h4>
			    <div class="tags">
			    	{% for tag in post.tags.all %}
			        <a href="#">{{tag}}</a>
			      {% endfor %}
			    </div>
			  </div>	
			</div>
	  </div>
	</div>
</section>
{% endblock %}