{% extends "website/base.html" %}

{% block title %}Registration page{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			{% if alert %}
				<div class="alert alert-danger" role="alert">{{ alert }}</div>
			{% else %}
			<h2>Registration</h2>
			<form action="" method="POST">
				{% csrf_token %}
				{% for field in form.fields %}
			  <div class="form-group">
			    <label for="id_{{ field }}">{{ field }}:</label>
			    <input id="id_{{ field }}" type="{{ field}}" name="{{ field }}" class="form-control" required>
			  </div>
			  {% endfor %}
			  <button type="submit" class="btn btn-default">Register New Account</button>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}