{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block title %}All offers{% endblock %}

{% block style %}
	.box { background-color: #e6e6e6; padding: 20px 10px; margin-bottom: 15px; }
	.offer-chars span { font-weight: 700; }
{% endblock %}

{% block content %}
<div class="container">
	<div class="box">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4"><img src="/media/{{ object.image }}" class="img-responsive" /></div>
				<div class="col-md-4">
					<p>{{ object.title }} - {{ object.price }}</p>
					<p class="offer-chars"><span>Author: </span>{{ object.author }}</p>
					<p class="offer-chars"><span>Category: </span>{{ object.category }}</p>
					<p class="offer-chars"><span>From: </span>{{ object.created_date }}</p>
				</div>
				<div class="col-md-4">
					<a href="{% url 'website:edit-offer' offer.id %}" class="btn btn-info">Edit</a>
					<a href="{% url 'website:delete-offer' offer.id %}" class="btn btn-danger">Remove</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}