<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
	<title>Key Value Store</title>
</head>

<body>
	<p>Details for user <b>{{ user.identifier }}</b></p>
	{% url 'addkey' user.identifier as add_key_url %}
	<button><a href="{{ add_key_url}}">Add key</a></button>
	<table>
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
				<th>Created at</th>
			</tr>
		</thead>
		<tbody>
		{% for kv in set_of_key_value %}
			<tr>
				<td>{{ kv.key }}</td>
				<td>{{ kv.value }}</td>
				<td>{{ kv.created_at }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</body>
</html>