{% extends "base.html" %}

{% load static%}
{% block title %}
Registration page
{% endblock %}

{% block content %}
{{ block.super }}
<section class="content">
  <div class="container">
		<div class="row">
			<div class="col-md-8 center no-padding">
				{% if alert %}
					<div role="alert" class="alert alert-danger">
						{{ alert }}
					</div>
				{% else %}
				<div class="col-md-12">
					<h3>Register New Account</h3>
				</div>
				<form action="" method="POST">
					{% csrf_token %}
					{% for field in form.fields %}
						<div class="form-group">
	      			<label for="id_{{ field }}">{{ field }}:</label>
	      			<input id="id_{{ field }}" type="{{ field}}" name="{{ field }}" class="form-control input-lg required" required>
	      		</div>
	      	{% endfor %}
						<button type="submit" class="btn btn-primary">Register New Account </button>
				</form>
				{% endif %}
			</div>
	  </div>
	</div>
</section>
{% endblock %}