{% extends "base.html" %}

{% block title %}
Blog posts
{% endblock %}

{% block content %}
	<table border="1">
		<thead>
			<tr>
				<td>Title</td>
				<td>Content</td>
				<td>Tags</td>
			</tr>
		</thead>
		<tbody>
			{% for post in blog_posts %}
				<tr>
					<td>{{ post.title }}</td>
					<td>{{ post.content }}</td>
					<td>
					{% for tag in post.tags.all %}
						{{ tag.tag }},
					{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button><a href="{% url 'create-new-post' %}">Create new post</a></button>
{% endblock %}